html {
	height: 100%;
    overflow: hidden;
}
:not(i) {
    font-family: Corbel;
    font-weight: bold;
}
h1 {
    font-size: 60px;
    margin: 5px;
    font-style: italic;
}
div.vertical img {
    height: 80px;
    width: 0px;
    transition-duration: 0.4s;
    object-fit: cover;
    opacity: 0;
    transform: translateY(15px);
}
div.vertical:hover img {
    width: 80px;
    opacity: 1;
}
h4 {
    opacity: 0.7;
    margin: 0px;
    transform: translateY(-10px);
    transition-duration: 0.4s;
}
div.vertical:hover h4 {
    opacity: 1;
}
p {
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 3px;
}
body {
	background: linear-gradient(to top, #90d7ff 10%, #a9adff 90%);
	margin: 0px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
@keyframes moveleft {
    from {
        transform: rotateZ(45deg) scale(600%) translateX(10px) translateY(-10px);
        image-rendering: pixelated;
    }
    to {
        transform: rotateZ(45deg) scale(600%) translateX(-10px) translateY(10px);
        image-rendering: pixelated;
    }
}
.squares-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("diagonal.png");
    height: 100vh;
    background-size: 400px 400px;
    transform: rotateZ(45deg);
    image-rendering: pixelated;
    opacity: 30%;
    animation-name: moveleft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
}
.inner {
    background-color: #FFFFFF67;
    width: 100%;
    height: 400px;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
