/*doc stuff*/
html {
	width: 100%;
	min-height: 100%;
	height: inherit;
}
body {
	width: calc(100% - 16px);
	min-height: 100%;
}
li {
	font-family: Helvetica;
}
.columned {
	float: left
}
/*text stuff*/
h1 {
	font-family: Helvetica
}
h2 {
	font-family: Helvetica
}
h3 {
	font-family: Helvetica
}
p {
	font-family: Helvetica
}
a {
	transition-duration: 0.1s;
	text-decoration-color: #0000EE99;
}
a:visited {
	color: #0000EE;
}
a:hover {
	color: #0099EE;
}
